/* Frappe Theme
 *
 * text: #c6d0f5
 * text-secondary: #8CAAEE
 * text-background: #B5BFE2
 * prompt: #EA999C
 * URLs: #f2d5cf
 * selection: #626880
 * active border: #babbf1
 * background: #303446
 * */
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,400;0,500;0,700;1,400&display=swap');

* {
  background: #303446;
  font-family: 'IBM Plex Mono', monospace;
  font-weight: 500;
  color: #c6d0f5;
}

body {
  min-height: 95vh;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  font-size: 1rem;
}

h3 {
  display: inline-block;
  font-size: inherit;
  padding: 0 0.5em;
  margin-bottom: 0;
  background-color: #684eff;
  color: #fafafa;
}

a {
  color: #f2d5cf;
  text-decoration: none;
}

footer {
  color: #B5BFE2;
  margin-top: auto;
}

.text-background {
  color:#9aa3c2;
}

.text-secondary {
  color:#8CAAEE;
}

.bluesky:hover {
  color: #208bfe;
}

.github:hover {
  color: #a6d189;
}

.cursor {
  color: #f2d5cf;
}

img {
    border-radius: 50%;
    width: 150px;
}
